body {
  overflow-y: scroll;
}

a {
  transition: color .2s;
  color: #265C83;
}

a:link,
a:visited {
  color: #265C83;
}

a:hover {
  color: #7FDBFF;
}

a:active {
  transition: color .2s;
  color: #007BE6;
}

.link {
  text-decoration: none;
} 

.lines {
  width: 100%;
  height: 100%;
}

.menu {
  text-align: center;
}