body {
  overflow-y:scroll;
}

#all {
  width:100%;
  height:96%;
}

#chart {
  height:100%;
  width:100%;
  border:none;
  display:none;
}

#contact {
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
  float:right;
  color:#303030;
  position:relative;
  margin-right:1em;
  margin-top:0.5em;
}

#contact a {
  text-decoration:none;
  color:#265C83;  
}

#primary_nav_wrap {
	position:relative;
  top:0px;
  left:0px;
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li:hover {
	background:#e6e6e6;
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

#primary_nav_wrap ul ul li {
	background:#f6f6f6;
	float:none;
  white-space:nowrap;
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul {
	display:block;
}
